<style>
.about_head { 
        color: <%= @color %>;
    }
</style>

<div class='about_head'>
    <h1>Let us Help</h1>
    <p>Find the perfect travel locations!</p>
</div>





<%= link_to "Red", about_path(color:'red'), class:"btn btn-danger" %>
<%= link_to "Blue", about_path(color:'blue'), class:"btn btn-primary"%>
<%= link_to "Green", about_path(color:'green'), class:"btn btn-success" %>

